* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 130%;
}

h1 {
  font-size: 24px;
  line-height: 130%;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  color: #b40101;
}

h2::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -6px;
  content: "";
  height: 1px;
  width: 86%;
  background: #b40101;
}

h2::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: -16px;
  content: "";
  height: 1px;
  width: 65%;
  background: #b40101;
}

h2.white {
  color: #fff;
}

h2.white::before, h2.white::after {
  background: #fff;
}

h2.form {
  color: #fff;
}

h2.form::before, h2.form::after {
  display: none;
}

body {
  background: #eee;
}

a {
  color: #000;
}

img {
  width: 100%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#00d2ff), to(#3a7bd5));
  background: linear-gradient(90deg, #00d2ff 0%, #3a7bd5 100%);
  -webkit-box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 3px 7px rgba(255, 255, 255, 0.3);
  height: 43px;
  width: 273px;
}

.container {
  max-width: 1240px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__outer, .item__inner {
  border-radius: 56% 44% 41% 59% / 55% 40% 60% 45%;
}

.item__outer {
  width: 120px;
  height: 120px;
  padding: 10px;
  background: rgba(180, 1, 1, 0.5);
  margin: 0px 0px 20px 0px;
}

.item__inner {
  width: 100%;
  height: 100%;
  background: #b40101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__text {
  text-align: center;
}

.header {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(180, 1, 1, 0.8)), to(rgba(180, 1, 1, 0.8))), url(../../img/bg.jpg) 0 0/cover no-repeat;
  background: linear-gradient(0deg, rgba(180, 1, 1, 0.8), rgba(180, 1, 1, 0.8)), url(../../img/bg.jpg) 0 0/cover no-repeat;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding: 12px 20px 20px 20px;
}

.header__logo-outer, .header__logo-inner {
  border-radius: 55% 40% 60% 45% / 56% 44% 41% 59%;
}

.header__logo-outer {
  width: 86px;
  height: 86px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

.header__logo-inner {
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-pic {
  font-weight: 800;
  color: #b40101;
  font-size: 20px;
}

.header__info-outer, .header__info-inner {
  border-radius: 50px 30px 10px 100px;
}

.header__info-outer {
  height: 78px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__info-inner {
  width: 100%;
  height: 100%;
  background: #fff;
}

.header__info-row {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 50px 0px 0px;
}

.header__info-item:last-child {
  margin: 0px 90px 0px 0px;
}

.header__info-item:first-child {
  margin: 0px 50px 0px 90px;
}

.header__info-pic {
  width: 20px;
  height: 20px;
  margin: 0px 14px 0px 0px;
  position: relative;
  top: -2px;
}

.header__info-pic img {
  width: 100%;
  height: 100%;
}

.header__info-text {
  color: #b40101;
}

.header__menu {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.header__menu-line {
  height: 1px;
  width: 100%;
  background: #fff;
  position: relative;
  top: -25px;
  left: 0;
  margin: 0px 0px 40px 0px;
}

.header__menu-outer {
  background: -webkit-gradient(linear, left top, right top, from(#00d2ff), to(#3a7bd5));
  background: linear-gradient(90deg, #00d2ff 0%, #3a7bd5 100%);
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  padding: 0px 12px 0px 12px;
  border-radius: 79px;
  display: inline-block;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background: #fff;
  border-radius: 79px;
}

.header__menu-link a {
  margin: 0px 70px 0px 0px;
}

.header__menu-link a:last-child {
  margin: 0px 60px 0px 0px;
}

.header__menu-link a:first-child {
  margin: 0px 70px 0px 60px;
}

.header__menu-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: #b40101;
}

.header__menu-link a:hover {
  color: #b40101;
  position: relative;
}

.header__menu-link a:hover::after {
  width: 68%;
}

.header__title {
  max-width: 540px;
  margin: 0px 0px 18px 0px;
}

.header__subtitle {
  text-transform: uppercase;
  max-width: 540px;
  color: #fff;
  text-align: center;
  margin: 0px 0px 24px 0px;
}

.header__button-2 {
  margin: 0px 0px 22px 0px;
}

.header__bg-bottom {
  width: 100%;
}

.systems {
  background: #eee;
  position: relative;
  top: -120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.systems__titlle {
  margin: 0px 0px 54px 0px;
}

.systems__table {
  margin: 0px 0px 64px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 972px;
}

.systems__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.systems__text {
  max-width: 450px;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.systems__button {
  width: 390px;
}

.systems__item {
  padding: 0px 75px 0px 75px;
  margin: 0px 0px 60px 0px;
}

.info {
  background: -webkit-gradient(linear, left top, right top, from(#e52d27), to(#b31217));
  background: linear-gradient(90deg, #e52d27 0%, #b31217 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__title {
  margin: 0px 0px 104px 0px;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 130px 0px;
}

.info__item {
  color: #fff;
  margin: 0px 150px 0px 0px;
  text-align: center;
}

.info__item:last-child {
  margin: 0px 0px 0px 0px;
}

.info__number {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  margin: 0px 0px 10px 0px;
}

.info__text {
  font-size: 18px;
  line-height: 22px;
}

.info__top, .info__bottom {
  border-left: 3840px solid transparent;
  border-top: 200px solid #eee;
}

.info__bottom {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 70px 0px;
}

.services__title {
  margin: 0px 0px 56px 0px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 120px 0px 0px;
}

.services__item:last-child {
  margin: 0;
}

.services__item-outer, .services__item-inner {
  border-radius: 56% 44% 41% 59% / 55% 40% 60% 45%;
}

.services__item-outer {
  width: 156px;
  height: 156px;
  padding: 10px;
  background: rgba(180, 1, 1, 0.5);
  margin: 0px 0px 16px 0px;
}

.services__item-inner {
  width: 100%;
  height: 100%;
  background: url("../img/wsys2.jpg") 0 0/cover no-repeat;
  overflow: hidden;
}

.services__item-pic {
  width: 100%;
  height: 100%;
}

.services__text {
  max-width: 230px;
  text-align: center;
}

.back-form {
  color: #fff;
  margin: 0px 0px 70px 0px;
}

.back-form__bg {
  background: url(../img/bg.jpg);
  border: 1px solid #b40101;
  display: inline-block;
  padding: 34px;
  border-radius: 61px;
  position: relative;
  left: 50%;
}

.back-form__form {
  background: linear-gradient(99.5deg, #b31217 0%, #e52d27 100%);
  border-radius: 61px;
  padding: 40px 44px;
  display: inline-block;
  -webkit-transform: translate(-94%, 0);
          transform: translate(-94%, 0);
}

.back-form__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-form__form form input[type="text"] {
  width: 494px;
  height: 34px;
  border-radius: 6px;
  margin: 0px 60px 10px 60px;
  opacity: 0.8;
  padding: 0px 0px 0px 20px;
}

.back-form__form form input[type="text"]:last-child {
  margin: 0px 0px 0px 0px;
}

.back-form__form form input[type="text"]:focus {
  opacity: 1;
}

.back-form__form form input[type="checkbox"] {
  display: none;
}

.back-form__form form input[type="checkbox"]:checked + label::before {
  background: url(../img/check-mark.svg) 50% 50% no-repeat, #fff;
}

.back-form__form form label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 0px 0px 0px 30px;
}

.back-form__form form label::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.back-form__form form label:hover::before {
  background: #fff;
}

.back-form__title {
  margin: 0px 0px 12px 0px;
  text-align: center;
}

.back-form__subtitle {
  margin: 0px 0px 18px 0px;
  max-width: 600px;
  text-align: center;
}

.back-form__chek {
  margin: 10px 0px 40px 0px;
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
}

.comfort {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(180, 1, 1, 0.9)), to(rgba(180, 1, 1, 0.8))), url(../../img/bg.jpg) 0 0/cover no-repeat;
  background: linear-gradient(0deg, rgba(180, 1, 1, 0.9), rgba(180, 1, 1, 0.8)), url(../../img/bg.jpg) 0 0/cover no-repeat;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0px 80px 0px;
  margin: 0px 0px 80px 0px;
}

.comfort__title {
  margin: 0px 0px 60px 0px;
}

.comfort__table {
  margin: 0px 0px 60px 0px;
}

.comfort__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 50px 0px;
}

.comfort__row:last-child {
  margin: 0px 0px 0px 0px;
}

.comfort__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 100px 0px 0px;
}

.comfort__item:last-child {
  margin: 0px 0px 0px 0px;
}

.comfort__item-number {
  width: 70px;
  height: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#00d2ff), to(#3a7bd5));
  background: linear-gradient(90deg, #00d2ff 0%, #3a7bd5 100%);
  border-radius: 50%;
  font-size: 24px;
  line-height: 30px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 30px 0px 0px;
}

.comfort__item-reght {
  max-width: 470px;
}

.comfort__item-title {
  margin: 0px 0px 14px 0px;
}

.comfort__button {
  width: 822px;
  height: 100px;
  border-radius: 10px 30px 10px 50px;
}

.services-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 120px 0px;
}

.services-2__title {
  margin: 0px 0px 36px 0px;
}

.services-2__text {
  max-width: 710px;
  text-align: center;
  margin: 0px 0px 56px 0px;
}

.services-2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 60px 0px;
}

.services-2__row:last-child {
  margin: 0px 0px 0px 0px;
}

.services-2__item {
  max-width: 196px;
  margin: 0px 100px 0px 0px;
}

.services-2__item:last-child {
  margin: 0px 0px 0px 0px;
}

.objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 140px 0px;
}

.objects__title {
  margin: 0px 0px 80px 0px;
}

.objects__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.text-block__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #b40101;
  margin: 0px 0px 16px 0px;
}

.text-block__body {
  margin: 0px 72px 0px 0px;
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  margin: 0px 0px 26px 0px;
}

.slider__button-left, .slider__button-right {
  width: 14px;
  height: 14px;
  border-bottom: 3px solid #01d1ff;
  border-left: 3px solid #01d1ff;
}

.slider__button-left {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider__button-right {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slider__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__slide {
  margin: 0px 30px 0px 0px;
  width: 266px;
  height: 266px;
}

.slider__slide img {
  width: 100%;
}

.questions {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(180, 1, 1, 0.8)), to(rgba(180, 1, 1, 0.8))), url(../../img/bg.jpg) 0 0/cover no-repeat;
  background: linear-gradient(0deg, rgba(180, 1, 1, 0.8), rgba(180, 1, 1, 0.8)), url(../../img/bg.jpg) 0 0/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 50px 0px 100px 0px;
  margin: 0px 0px 60px 0px;
}

.questions__title {
  margin: 0px 0px 60px 0px;
}

.questions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 64px 0px;
}

.questions__row:last-child {
  margin: 0px 0px 0px 0px;
}

.questions__item {
  max-width: 559px;
  height: 100px;
  border-left: 2px solid #00d2ff;
  padding: 0px 0px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 100px 0px 0px;
}

.questions__item:last-child {
  margin: 0px 0px 0px 0px;
}

.questions__item-title {
  margin: 0px 0px 10px 0px;
}

.licenses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 87px 0px;
}

.licenses__title {
  margin: 0px 0px 78px 0px;
}

.licenses__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.licenses__item {
  width: 263px;
  height: 372px;
  margin: 0px 30px 0px 0px;
}

.licenses__item:last-child {
  margin: 0px 0px 0px 0px;
}

.licenses__item img {
  width: 100%;
}

.map-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 100px 0px;
}

.map-block__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.map-block__left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 50px 0px 0px;
}

.map-block__left form input[type="text"] {
  width: 536px;
  height: 40px;
  background: transparent;
  border-bottom: 1px solid #1893ff;
  margin: 0px 0px 4px 0px;
}

.map-block__left form button {
  margin: 40px 0px 0px 0px;
}

.map-block__title {
  font-size: 36px;
  line-height: 44px;
  color: #3f3f3f;
  margin: 0px 0px 20px 0px;
}

.map-block__right {
  position: relative;
  left: 300px;
}

.map-block__right-bg {
  position: relative;
  background: linear-gradient(101.59deg, #b31217 3.13%, #e52d27 100%);
  border-radius: 10px 0px 0px 10px;
  padding: 60px 0px 60px 0px;
}

.map-block__right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  left: -300px;
}

.map-block__right-map {
  width: 450px;
  height: 370px;
  margin: 0px 50px 0px 0px;
}

.map-block__right-map img {
  width: 100%;
}

.map-block__right-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-block__right-contact {
  color: #fff;
  margin: 0px 0px 32px 0px;
}

.map-block__right-contact-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 13px 0px;
}

.map-block__right-contact-pic {
  width: 20px;
  height: 20px;
  margin: 0px 12px 0px 0px;
}

.map-block__right-contact-pic img {
  width: 100%;
}

.map-block__right-contact-title {
  font-weight: 700;
}

.map-block__right-contact-text {
  font-size: 12px;
  max-width: 256px;
}

.footer {
  background: linear-gradient(101.59deg, #b31217 3.13%, #e52d27 100%);
  padding: 55px 0px 55px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin: 0px 0px 30px 0px;
}

.footer__text {
  max-width: 516px;
  color: #fff;
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.footer__policy-link {
  color: #fff;
  text-decoration: underline;
}
